* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #1F2937;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

.first_btn {
    background-color: #F97415;
    color: #ffffff;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    font-size: 1.25rem;
    font-weight: 700;
    border: none;
    cursor: pointer;
    }
}

.banner {
    
    #nomeDoPet {
        color: #F97415;
        font-weight: 700;
        font-size: 3.75rem;
    }

}