* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #1F2937;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

.first_btn {
    background-color: #F97415;
    color: #ffffff;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    font-size: 1.25rem;
    font-weight: 700;
    border: none;
    cursor: pointer;
    }
}

.banner {
    background-color: #edede9;
    height: 65vh;
    padding: 30px;

    article {
        border: solid red;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        .info_Pet {
            p {
                width: 50%;
            }
        }

    }


}

#nomeDoPet {
        color: #F97415;
        font-weight: 700;
        font-size: 3.75rem;
    }
//galeria de imagens circulares
.galeriaPet {
    display: flex;
    justify-content: space-between;
}

        .pet {
            border: solid red;
            width: 20%;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            .descricao , .nome {
            display: none;
        }

        .img_Pet {
            width: 50%;
            height: 20vh;
            border-radius: 90%;
    }
}